:root {
  --navbar-colour-home: hsl(150, 57%, 34%);
  --btn-tickets-colour: hsl(0, 0%, 16%);
  --btn-language-colour: hsl(0, 0%, 33%);
  --agenda-orange: hsl(19, 100%, 50%);
  --agenda-green: hsl(158, 100%, 27%);
  --uitgelicht-colour: hsl(59, 69%, 67%);

  --font-colour: hsl(0, 0%, 100%);
  --font-colour-inbetween: hsl(0, 0%, 16%);
}

.container-100 {
  width: 100%;
}

.container-85 {
  width: 80%;
  margin: 0 auto;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.info-email {
  color: black;
}

a {
  color: black;
}
