@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Regular.woff2") format("woff2"),
    url("../fonts/AlbertSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Italic.woff2") format("woff2"),
    url("../fonts/AlbertSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Albert Sans";
}
/* HAMBURGER MENU */
.hamburger {
  display: none;
}

/* NAVBAR MENU */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background: var(--navbar-colour-home);
}

.navbar-look {
  flex-basis: 75%;
}
.navbar-look ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0 1rem;
}
.navbar-logo-stam {
  position: relative;
  top: 20px;
  width: 124px;
}
.stam-additional {
  position: absolute;
  width: 65px;
  top: 92px;
  right: 0;
}
.stam-foot-logo {
  fill: white;
}
.arrow-menu {
  fill: white;
  height: 9px;
  width: 9px;
}

.navbar-look ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.btn-buy-tickets {
  background-color: var(--btn-tickets-colour);
  text-decoration: none;
  color: var(--font-colour);
  text-transform: uppercase;
  line-height: 1rem;
  padding: 0.5rem 0.85rem;
  height: 58px;
  align-content: center;
}

.btn-lang-change {
  background-color: var(--btn-language-colour);
  border-style: none;
  color: white;
  text-transform: uppercase;
  height: 58px;
}

.navbar--b {
  position: relative;
}

/* ---------- MAIN SECTION BANNER IMAGE --------------------*/

.main-banner-image {
  width: 100%;
  position: relative;
  z-index: -1;
}
.main-image {
  width: 100%;
}
.main-banner-layout {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}
.main-image-logo {
  fill: white;
  max-width: 71.875rem;
}
.main-image-arrow {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  width: 4.125rem;
  height: 5.325rem;
  fill: white;
}
/* ---------------- AGENDA ---------- */
.agenda-title {
  margin: 4rem;
  font-size: 3rem;
  font-weight: 400;
}
.agenda-folder {
  display: flex;
  width: 100%;
  color: white;
}
.agenda-folder-item {
  background-color: var(--agenda-orange);
  width: 50%;
}
.agenda-folder-item--green {
  background-color: var(--agenda-green);
  position: relative;
}
.agenda-folder-content--spacing {
  padding: 0.5rem 0;
}
.agenda-folder-content {
  width: 80%;
  height: 450px;
  margin: 0 auto;
}
.agenda-folder-item img {
  width: 100%;
  position: relative;
}
.agenda-folder-content-title {
  font-size: 2.0625rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.agenda-folder-content-subtitle {
  color: var(--font-colour-inbetween);
  font-size: 1.5rem;
}
.agenda-folder-content-text {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 140%;
}
.agenda-folder-content-arrow-layout {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-left: 2.5rem;
}
.agenda-svg {
  position: absolute;
  bottom: 30rem;
  left: 2rem;
  fill: white;
  width: 25rem;
  height: 20rem;
}
.visibility {
  display: none;
}
/* -----------------FOOOOOTTTEEEER------------ */

.container {
  position: relative;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contacts {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-top: 1px grey solid;
  padding-top: 1.5rem;
}
.container-100--footer-end {
  background-color: var(--btn-tickets-colour);
}

.footer-end {
  width: 85%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-stam-svg {
  width: 306px;
  height: 240px;
}
.footer-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-adress {
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
}
.footer-vlaanderen-verbeelding {
  display: flex;
  gap: 10px;
}
.footer-news-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-green-box {
  background-color: #008855;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  width: 95%;
  padding: 10px 0;
}
.footer-socials {
  display: flex;
  gap: 1.5rem;
}
.footer-socials svg {
  width: 15px;
  height: 15px;
  outline: 1px solid black;
  outline-offset: 6px;
  border-radius: 50%;
}
.footer-languages-select {
  display: flex;
  gap: 8px;
}
.underline {
  text-decoration: underline;
}

.footer-rights {
  display: flex;
  gap: 1rem;
}
.footer-erfgoed-logo {
  fill: white;
  width: 5rem;
}
.footer-made-by {
  display: flex;
  gap: 10px;
}

.orange-fill {
  fill: hsl(10, 100%, 50%);
}
.white-fill {
  fill: hsl(0, 0%, 100%);
}
