@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Regular.woff2") format("woff2"),
    url("../fonts/AlbertSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Albert Sans";
  src: url("../fonts/AlbertSans-Italic.woff2") format("woff2"),
    url("../fonts/AlbertSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Albert Sans";
}
/* HAMBURGER MENU */

.hamburger {
  display: block;
  fill: white;
  padding: 1.5rem 2.5rem;
}
@media (min-width: 63.75rem) {
  .hamburger {
    display: none;
  }
}

/* NAVBAR MENU */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  background: var(--navbar-colour-home);
}

.navbar-a {
  flex-basis: 75%;
  font-size: 1.5rem;
}
@media (max-width: 63.75rem) {
  .navbar-a {
    display: none;
  }
}
.navbar-a ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0 1rem;
}
.arrow-menu {
  fill: white;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
}

.navbar-a ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.btn-buy-tickets {
  background-color: var(--btn-tickets-colour);
  text-decoration: none;
  color: var(--font-colour);
  text-transform: uppercase;
  line-height: 1.5rem;
  padding: 0.5rem 1.5rem;
  height: 94px;
  align-content: center;
  font-size: 1.5rem;
  flex-grow: 1;
}

.btn-lang-change {
  background-color: var(--btn-language-colour);
  border-style: none;
  color: white;
  text-transform: uppercase;
  height: 94px;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}
.stam-logos {
  width: 194px;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: flex-start;
  gap: 0.625rem;
}
.stam-foot-logo {
  fill: white;
}
.index-logo {
}

/* ---------- MAIN SECTION BANNER IMAGE --------------------*/

.main-banner-image {
  width: 100%;
  position: relative;
  z-index: -1;
}
.main-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.main-image-logo {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  fill: white;
  max-width: 71.875rem;
}
@media (min-width: 63.75rem) {
  .small {
    display: none;
  }
}
.main-image-logo--large {
  display: none;
}
@media (min-width: 63.75rem) {
  .main-image-logo--large {
    display: block;
  }
}
.main-image-arrow {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  width: 2rem;
  height: 3rem;
  fill: white;
}
@media (min-width: 63.75rem) {
  .main-image-arrow {
    width: 4.125rem;
    height: 5.325rem;
  }
}
/* ---------------- AGENDA ---------- */
.agenda-title {
  margin: 4rem;
  font-size: 3rem;
  font-weight: 400;
}
.agenda-folder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
}
.agenda-folder-item {
  background-color: var(--agenda-orange);
  flex: 1 1 50%;
  min-width: 28.125rem;
}
.agenda-folder-item--green {
  background-color: var(--agenda-green);
  position: relative;
}
.agenda-folder-content--spacing {
  padding: 0.5rem 0;
}
.agenda-folder-content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3.75rem;
}
.agenda-folder-item-img {
  width: 100%;
  position: relative;
  top: 0;
}

.agenda-folder-content-title {
  font-size: 2.0625rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.agenda-folder-content-subtitle {
  color: var(--font-colour-inbetween);
  font-size: 1.5rem;
}
.agenda-folder-content-text {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 140%;
}
.agenda-folder-content-arrow-layout {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-left: 2.5rem;
}
.agenda-svg {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  fill: white;
  width: 20rem;
  height: 15rem;
}
.visibility {
  display: none;
}

/* ---==-=-=-=-=-=-= UITGELICHT -=-=-=-=---=-=-=-= */
.container-85 {
  flex: 1 1 50%;
}
.uit-full {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}
.uitgelicht-title {
  margin: 4rem 4rem 2rem 4rem;
  font-size: 3rem;
  font-weight: 400;
}
.uit-card {
  background-color: var(--uitgelicht-colour);
  padding: 32px 64px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.uit-card--border {
  border-left: 1px solid black;
}
.uit-img-title {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding-bottom: 2rem;
  flex: 1 1 50%;
}
.uit-img {
  width: 15.625rem;
  max-height: 180px;
}
.uit-title {
  font-size: 2.0625rem;
  font-weight: 500;
  /* padding-left: 3rem; */
}

/* -------- GRID OF ARTICLES --------------- */
.grid-article-flex {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  margin: 6.25rem auto;
}
.grid-article-card {
  flex: 1 1 30%;
  padding: 1rem;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  min-width: 300px;
}
.grid-article-text-content * {
  padding: 0.4rem;
}
.relative-pos {
  position: relative;
}
.grid-article-svg {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
.grid-article-image {
  width: 100%;
}
/* -----------------FOOOOOTTTEEEER------------ */

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contacts {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-top: 1px grey solid;
  padding-top: 1.5rem;
}
.container-100--footer-end {
  background-color: var(--btn-tickets-colour);
}

.footer-end {
  width: 85%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-stam-svg {
  width: 306px;
  height: 240px;
}
.footer-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-adress {
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
}
.footer-vlaanderen-verbeelding {
  display: flex;
  gap: 10px;
}
.footer-news-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-green-box {
  background-color: #008855;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  width: 95%;
  padding: 10px 0;
}
.footer-socials {
  display: flex;
  gap: 1.5rem;
}
.footer-socials svg {
  width: 15px;
  height: 15px;
  outline: 1px solid black;
  outline-offset: 6px;
  border-radius: 50%;
}
.footer-languages-select {
  display: flex;
  gap: 8px;
}
.underline {
  text-decoration: underline;
}

.footer-rights {
  display: flex;
  gap: 1rem;
}
.footer-erfgoed-logo {
  fill: white;
  width: 5rem;
}
.footer-made-by {
  display: flex;
  gap: 10px;
}

.orange-fill {
  fill: hsl(10, 100%, 50%);
}
.white-fill {
  fill: hsl(0, 0%, 100%);
}
